[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[alias]
    ci = commit
    st = status
    co = checkout
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[user]
    name = Pengzhi Quah
    email = peng.zhi@avidlifemedia.com 

[format]
    pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
